@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Obsidian Light (Default) */
    --background: #f1f5f9;
    --foreground: #0f1729;
    --card: #f8fafc;
    --card-foreground: #0f1729;
    --popover: #e1e7ef;
    --popover-foreground: #0f1729;
    --primary: #36404f;
    --primary-foreground: #f9fafb;
    --secondary: #465467;
    --secondary-foreground: #f8fafc;
    --accent: #f8fafc;
    --accent-foreground: #637288;
    --muted: #94a3b8;
    --muted-foreground: #0f1729;
    --destructive: #db2424;
    --destructive-foreground: #fef1f1;
    --border: #c8d3df;
    --input: #c8d3df;
    --ring: #36404f;
    --radius: 0rem;
  }

  .harvest-dark {
    /* Harvest Dark */
    --background: #171717;
    --foreground: #fafafa;
    --card: #242424;
    --card-foreground: #fafafa;
    --popover: #404040;
    --popover-foreground: #fafafa;
    --primary: #fa8f38;
    --primary-foreground: #411207;
    --secondary: #737373;
    --secondary-foreground: #fafafa;
    --accent: #441903;
    --accent-foreground: #fbbd23;
    --muted: #737373;
    --muted-foreground: #fafafa;
    --destructive: #ef4343;
    --destructive-foreground: #fef1f1;
    --border: #525252;
    --input: #525252;
    --ring: #fa8f38;
    --radius: 0.75rem;
  }

  .solar-light {
    /* Solar Light */
    --background: #f3f3f2;
    --foreground: #1c1917;
    --card: #f8f8f7;
    --card-foreground: #1c1917;
    --popover: #e7e5e4;
    --popover-foreground: #1c1917;
    --primary: #f59b0a;
    --primary-foreground: #fffbeb;
    --secondary: #766f6b;
    --secondary-foreground: #f8f8f7;
    --accent: #fffbeb;
    --accent-foreground: #f59b0a;
    --muted: #d3d1cf;
    --muted-foreground: #1c1917;
    --destructive: #db2424;
    --destructive-foreground: #fef1f1;
    --border: #d3d1cf;
    --input: #d3d1cf;
    --ring: #f59b0a;
    --radius: 1rem;
  }
}
